.active > a {
    border-radius: 0 !important;
    color: #000!important;
}
.nav-tabs > li > a {
    color: #000!important;
}
.nav-tabs > li > a:hover {
    border-radius: 0 !important;
}
.btn-d, .btn-v{
    background-color: #000;
    padding: 15px;
     color: #fff
}